<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    This page is not available
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>