<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About this website</h2>
    <p>This is a task tracker app</p>
    <p>You can add various tasks along with their deadline and description</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>